//colors
$maincolor:         #d14348;
$hilite-color:      #ffba00;
$third-color:       #548c27;
$fourth-color:      #40F;
$link:              #000;
$linkhover:         #f00038;
$linkvisited:       #00b0f0;

$footerbg:          #6D73C2;
$footerlink:        #000;
$footerlink-hover:  #999;

$scroll-color:      #666;
$scroll-hover:      #eee;


//fonts
$main-font: $basefont;
$main-font-size: $basefontsize;
$main-line-height: $baselineheight;


